<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrada</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    {% for result in results %}

                    <h2>{{result.title}}</h2>
                    <p>{{result.description}}</p>
                    <img src="{{result.image}}" alt="">

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>

</html>