h4{
    color: rgb(229, 250, 45);
    font-family: 'Jim Nightshade', cursive;
}

body{
    background-color: rgb(4, 10, 41);
    font-family: 'Jim Nightshade', cursive;
}
h2{
    font-family: 'Jim Nightshade', cursive;

}

.card {
         
        
        margin-left: 45%;
        align-items: center;

}

span{
    color: brown;
}

